zsh/.zcompdump
exercism
config.json
heroku/config.json
configstore

vim/plugins

# RVM stuff
rvm/archives
rvm/environments
rvm/gem-cache
rvm/gems
rvm/gemsets
rvm/log
rvm/rubies
rvm/tmp
rvm/user
rvm/wrappers
rvm/src
